@charset "utf-8";

/* Import fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic");

/* Reset CSS styles */
html, body, div, span, applet, object, iframe, p, h1, h2, h3, h4, h5, h6,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main CSS styles */
html {
    box-sizing: border-box;
}

html:focus {
    outline: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 300px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    text-rendering: auto;
    color: #232323;
    background: #fefefe;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h1 {
    margin: 0.5em 0;
    font-size: 1.8em;
    font-weight: 700;
}

h2 {
    margin: 0.5em 0;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    text-align: justify;
}

a {
    display: inline-block;
    position: relative;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

a::before,
a::after {
    pointer-events: none;
    backface-visibility: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul > li::before {
    padding-right: 0.5em;
    font-family: "FontAwesome", sans-serif;
    font-size: 90%;
    content: "\f046";
}

.container {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1140px;
    min-height: 100vh;
    overflow: hidden;
    backface-visibility: hidden;
}

.header {
    margin: 1em 0;
}

.content {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

.footer {
    margin: 2em 0 1em;
}

.divider {
    border: 0;
    height: 1px;
    margin: 2em 0;
    background: -webkit-linear-gradient(left, #fefefe, #ededed, #fefefe);
    background: -moz-linear-gradient(left, #fefefe, #ededed, #fefefe);
    background: linear-gradient(left, #fefefe, #ededed, #fefefe);
}

.link {
    color: #3d94ff;
}

.link:hover {
    color: #2d6cba;
}

.button {
    display: inline-block;
    position: relative;
    padding: 0.8em 1.5em;
    color: #fefefe;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #ed1c24;
    border-radius: 3px;
    background: #ed1c24;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    user-select: none;
}

.button:hover {
    background: #c00710;
    border-color: #c00710;
}

#join-us-section {
    text-align: center;
}

#join-us-section .button {
    margin: 2em 0;
}

#social-section {
    width: 100%;
    text-align: center;
}

#social-section .fb-page {
    display: inline-block;
}

#page-footer p {
    font-size: 0.8em;
    color: #676767;
    text-align: center;
}
