@charset "utf-8";
body {
    padding-right: 30px;
    padding-left: 30px;
    font-family: "Helvetica";
}
img{
	max-width: 100%;
}
h1 {
    font-size: 20px;
    margin: 0;
}
ul {
    margin: 0;
}
ol {
    margin: 0;
}
p {
    font-size: 16px;
}

a {
    color: black;
}

.inblock {
    margin-left: 40px;
    margin-right: 40px;
}

.callforaction {
    background-color: #ed1c24;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    /*font-variant-caps: small-caps;*/
    text-transform: uppercase;

    text-decoration: none;
    color: initial;
    padding: 10px 50px;
    margin-bottom: 14px;
    font-size: 22px;
}
